/* Tablet */
@media (min-width: 426px) {
	.categories-preview__list {
		width: 80vw;
		justify-content: flex-start;
	}

	.header,
	.trending-preview__header,
	.categories-preview {
		padding: 0 24px;
	}

	.header {
		padding-top: 40px;
	}

	.trending-preview__movie-list {
		padding: 12px 24px 24px;
	}
}

@media (min-width: 700px) {
	.header__search-form {
		width: 80%;
	}
}

/* Desktop */
@media (min-width: 1024px) {
	.header__search-form {
		width: 60%;
	}
}
